body {
    background-image: url("1.jpg");
     margin: 50px 50px 50px 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(158, 158, 158);
    border-radius: 30px;
} 
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover:not(.active) {
    background-color: gray;
}  
.active {
    background-color: gray;
}
h1 {
    background-color: #333;
    border-radius: 30px;
    width:300px;
    text-transform: uppercase;
    color: white;
}
p {
    color: white;
    border-radius: 30px;
    
    padding: 15px; 
    width: auto;
    height: auto; 
} 
/*Formularios*/
input[type=text], input[type=number],select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #111;
    border-radius: 15px;
    box-sizing: border-box;
}  
input[type=submit] {
    width: auto;
    background-color: #111;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  
input[type=submit]:hover {
    background-color: #333;
}  
form {
    border-radius: 30px;
    background-color: gray;
    padding: 30px;
    box-shadow: 10px 10px;
}
label {
    color: white;
}